@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .noto-sans kr-<uniquifier > {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  color: #000;
}
h1 {
  font-size: 48px;
  font-weight: 100;
}
.contents1 {
  font-size: 20px;
  font-weight: 200;
}
.value {
  font-size: 24px;
  font-weight: 400;
}

.intro {
  background: url(../img/qorud.png);
  width: 100%;
  height: 718px;
}

.header {
  display: flex;
  width: 1280px;
  /* background: yellow; */
  margin: 0 auto;
  height: 86px;
}

.header .nav {
  display: flex;
  width: calc(1280px - 300px);
  /* background: blue; */
  justify-content: flex-end;
}
.header .nav li a {
  color: #fff;
}
.header .nav > li {
  margin-left: 84px;
  line-height: 86px;
}
.header .search_area {
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 24px;
}
.search_area > form > input {
  border: none;
  background: rgba(0, 0, 0, 0);
  width: 250px;
  height: 40px;
  color: #fff;
  padding: 15px;
}

.search_area > form > span {
  width: 50px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.intro_text > h1,
.intro_text > h4 {
  color: #fff;
  /* background: blue; */
}

.intro_text {
  /* background: blue; */
  text-align: center;
  margin: 230px auto 231px auto;
}

.amount {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: -66px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.amount > li {
  flex: 1;
  /* z-index: 9999; */
  /* border: 1px solid #000; */
  width: 320px;
  height: 132px;
  /* line-height: 132px; */
  background: #fff;
  /* background: blue; */
}

.amount li > div {
  text-align: center;
  color: #000;
  height: 57px;
  /* background: green; */
  margin-top: 37px;
  /* border-right: 1px solid gray; */
}
.amount li:not(:last-child) div {
  border-right: 1px solid gray;
}
